.questionBox {
  width: 70%;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding: 2rem;

  background-color: transparent !important;
}

.dashboard {
  width: 70%;
  padding-top: 1rem !important;
  padding: 2rem;
  background-color: transparent !important;
  padding-bottom: 40px !important;
}

.dashboardTopics {
  width: 70%;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding: 2rem;
  background-color: transparent !important;
}

.instructions {
  width: 80%;
  padding: 1rem;
  background-color: transparent !important;
}

.questionBoxInner,
.questionTitleInner {
  text-align: left !important;
  width: 90%;
  font-weight: 500;
}

.questionBoxInner:hover {
  /*  background-color: #ffebee; */
  background-color: #fff0de;
  cursor: pointer;
}

.optionText {
  cursor: pointer;
}

hr {
  width: 90%;
  font-weight: lighter !important;
}

#questionTitle {
  color: black;
}

#buttonDesign {
  cursor: pointer;
  background-color: black;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 22px;
  padding-right: 22px;
  color: white;
}

#exitButton,
#nextButton,
#revealAnswerButton {
  cursor: pointer;
  background-color: black;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;

  color: white;
}

@media only screen and (max-width: 1000px) {
  #nextButton,
  #revealAnswerButton,
  #exitButton {
    position: relative;
    top: 40px !important;
  }
}

@media only screen and (max-width: 600px) {
  #exitButton {
    display: block;
    width: 75%;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1000px) {
  #exitButton {
    position: fixed !important;
    bottom: 40px !important;
    left: 50px !important;
  }

  #nextButton {
    position: fixed !important;
    bottom: 40px !important;
    right: 50px !important;
  }

  #revealAnswerButton {
    position: fixed !important;
    bottom: 40px !important;
    right: 170px !important;
  }
}

.links a {
  text-decoration: none;
  font-size: 1.2rem;
}

h1 {
  font-size: 2rem;
}

* {
  font-size: 1.1rem;
  font-family: Verdana;
  line-height: 2rem;
  box-sizing: border-box;
  /* 
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;*/
}

.subjectButton {
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.subject {
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
#math {
  background-color: #f3e6d8 !important;
}
#physics {
  background-color: #eeeecf !important;
}
#cs {
  background-color: #bad0e6 !important;
}
#engineering {
  background-color: #dbd0e4 !important;
}
#chemistry {
  background-color: #cccddf !important;
}
#biology {
  background-color: #c0e4c4 !important;
}
#music {
  background-color: #e6cbd6 !important;
}
#other {
  background-color: #eee !important;
}
#humanities {
  background-color: #e4dddd !important;
}
.featured {
  height: 120px;
  width: 120px;
  overflow: hidden;
  border: 2px solid #f3e6d8;
  border-radius: 17px;
  position: relative;
  display: inline-block;
  margin: 5px;
}
img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  /* 
  display: block;
  margin-left: auto;
  margin-right: auto;
  */
}

.leftBox {
  width: 50%;
  float: left;
  padding: 15px;
  border: 1px solid black;
}
.rightBox {
  width: 50%;
  float: left;
  padding: 15px;
  border: 1px solid black;
}
